.container{
    background-color: grey;
}
input[type='text']{
    padding: 10px;
    border-radius: 20px;
    margin-left: 15px;
}
select{
    padding: 14px;
    margin: 15px;
}

button{
    padding: 10px 25px ;
    font-size: 20px;
}
button:hover{
    cursor:pointer;
}
.display{
    border:1px solid black;
   border-radius: 20px;
}
.display .img{
   margin-left: 40px;
}
table:hover{
    cursor: pointer;
}
